<div class="flex=justify-between items-center space-x-3 p-2">
  <label class="inline-flex items-center space-x-2" [ngClass]="cssClass">
    <input
      type="checkbox"
      [checked]="fullfilled"
      (click)="toggleFullfilled()"
      class="form-checkbox h-5 w-5 text-blue-600 rounded"
    />
    <span class="text-gray-800">{{ wishText }}</span>
  </label>
  <button
    class="w-8 h-8 bg-blue-500 rounded-full hover:bg-gray-200 focus:outline-none"
    aria-label="Close"
    (click)="removeWish()"
  >
    <span
      class="w-1 h-4 bg-gray-700 transform rotate-45 border border-red-500"
    ></span>
    <span
      class="w-1 h-4 bg-gray-700 transform -rotate-45 border border-blue-500"
    ></span>
  </button>
</div>
