<div class="flex=justify-around items-center space-x-3 p-5">
  <label class="inline-flex items-center space-x-2" [ngClass]="cssClass">
    <input
      type="checkbox"
      [checked]="wish.isComplete"
      (click)="toggleFullfilled()"
      class="form-checkbox h-5 w-5 text-white-600 rounded"
    />
    <span class="text-gray-800">{{ wish.wishText }}</span>
  </label>
  <button
    class="w-8 h-8 bg-white-500 rounded-full hover:bg-gray-200 focus:outline-none"
    aria-label="Close"
    (click)="removeWish()"
  >
    <span
      class="w-1 h-4 bg-white-700 transform rotate-45"
    >x</span>
    <span
      class="w-1 h-4 bg-white-700 transform -rotate-45"
    ></span>
  </button>
</div>
